<!DOCTYPE html>
<html>
	<head>
		<title>Theoretische Mechanica bijbel</title>
		<!-- data-main attribute tells require.js to load
			js/main.js after require.js loads. -->
		
	<body>
		<h1>Introductie</h1>
<p>Hieronder staan de slides van Theoretische Mechanica, met de opnames waarin ze voorkomen. Deze worden niet meteen ge&uuml;pdated bij het online komen van een nieuwe lesopname. (Ping me op discord (@Anton) voor updates).</p>
<p>De confidence score die onder elke les staat geeft weer hoe zeker is dat dat deel van de lesopname wel degelijk die slide toont. Dit is niet honderd percent accuraat, er kunnen dus lichte foutjes optreden. Over het algemeen is:</p>
<p style="color: green;">&gt;0.5: Hier komt deze slide zeker in voor</p>
<p style="color: orange;">&gt;0.4: Hier komt de slide waarschijnlijk in voor</p>
<p style="color: red;">&lt; 0.4: Hier komt de slide misschien in voor</p>

<p>Deze site is nogal basic (waarvoor mijn excuses). Voor slides die wat verder in de lijst staan zoek je best naar de les of het hoofdstuk waarin je slide staat.</p>

<p>PS. Als iemand met verstand van webdev me kan helpen met deze site wat aantrekkelijker te maken, zou me dat echt helpen </p>

<p>PPS. Het linken naar de correcte lesopnames kan er later nog inkomen, het linken naar een specifieke tijdstip in de lesopname zelf is volgens mij niet mogelijk.</p>

<p>PPPS. DM me als je de source code wilt</p>

<p>	&lt;3 Anton</p>
<h1>Slides</h1>
<table>
<tbody>
  <tr><td><b>Introductie</b></td></tr>
<tr>
<td><img src={{url_for('static', filename='slides/slide0.png')}} alt="slide0.png" width="400" /></td>

<td><br />
<p>les1: 00:00:01-00:04:26</p>
<p style="color:green;">0.5532601</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide2.png')}} alt="slide2.png" width="400" /></td>

<td><br />
<p>les1: 00:04:26-00:05:40</p>
<p style="color:green;">0.5207023</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide3.png')}} alt="slide3.png" width="400" /></td>

<td><br />
<p>les1: 00:05:40-00:09:23</p>
<p style="color:green;">0.53705937</p>
</td>
<td><br />
<p>les1: 00:09:23-00:13:19</p>
<p style="color:green;">0.53683186</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide5.png')}} alt="slide5.png" width="400" /></td>

<td><br />
<p>les1: 00:13:19-00:18:18</p>
<p style="color:green;">0.5050271</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide6.png')}} alt="slide6.png" width="400" /></td>

<td><br />
<p>les1: 00:18:18-00:31:55</p>
<p style="color:green;">0.5836645</p>
</td>
<td><br />
<p>les14: 00:04:48-00:07:41</p>
<p style="color:red;">0.21183862</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide7.png')}} alt="slide7.png" width="400" /></td>

<td><br />
<p>les1: 00:31:55-00:34:46</p>
<p style="color:green;">0.54406226</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide8.png')}} alt="slide8.png" width="400" /></td>

<td><br />
<p>les1: 00:34:46-00:38:13</p>
<p style="color:orange;">0.43870658</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide9.png')}} alt="slide9.png" width="400" /></td>

<td><br />
<p>les1: 00:38:13-00:41:26</p>
<p style="color:green;">0.51626974</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide10.png')}} alt="slide10.png" width="400" /></td>

<td><br />
<p>les1: 00:41:26-00:43:21</p>
<p style="color:green;">0.6130232</p>
</td>
<td><br />
<p>les1: 00:48:00-00:49:19</p>
<p style="color:green;">0.6127112</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide11.png')}} alt="slide11.png" width="400" /></td>

<td><br />
<p>les1: 00:43:21-00:45:46</p>
<p style="color:orange;">0.49778664</p>
</td>
<td><br />
<p>les1: 00:49:19-00:51:34</p>
<p style="color:orange;">0.4976182</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide12.png')}} alt="slide12.png" width="400" /></td>

<td><br />
<p>les1: 00:45:46-00:48:00</p>
<p style="color:orange;">0.48732242</p>
</td>
<td><br />
<p>les2: 00:00:01-00:02:06</p>
<p style="color:orange;">0.45955583</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide13.png')}} alt="slide13.png" width="400" /></td>

<td><br />
<p>les1: 00:51:34-00:53:32</p>
<p style="color:green;">0.54517084</p>
</td>
<td><br />
<p>les2: 00:02:06-00:08:57</p>
<p style="color:green;">0.53806776</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide14.png')}} alt="slide14.png" width="400" /></td>

<td><br />
<p>les1: 00:53:32-00:57:13</p>
<p style="color:orange;">0.48806506</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide15.png')}} alt="slide15.png" width="400" /></td>

<td><br />
<p>les1: 00:57:13-00:59:59</p>
<p style="color:orange;">0.486631</p>
</td>
<td><br />
<p>les2: 00:08:57-00:16:21</p>
<p style="color:orange;">0.44796026</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide16.png')}} alt="slide16.png" width="400" /></td>

<td><br />
<p>les2: 00:16:21-00:24:28</p>
<p style="color:orange;">0.4650948</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide17.png')}} alt="slide17.png" width="400" /></td>

<td><br />
<p>les2: 00:24:28-00:28:37</p>
<p style="color:orange;">0.4425516</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide18.png')}} alt="slide18.png" width="400" /></td>

<td><br />
<p>les2: 00:28:37-00:33:20</p>
<p style="color:green;">0.5151278</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide19.png')}} alt="slide19.png" width="400" /></td>

<td><br />
<p>les2: 00:33:20-00:41:30</p>
<p style="color:orange;">0.45089054</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide20.png')}} alt="slide20.png" width="400" /></td>

<td><br />
<p>les2: 00:41:30-00:47:51</p>
<p style="color:green;">0.55637425</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide22.png')}} alt="slide22.png" width="400" /></td>

<td><br />
<p>les2: 00:47:51-00:54:01</p>
<p style="color:orange;">0.47859186</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide23.png')}} alt="slide23.png" width="400" /></td>

<td><br />
<p>les2: 00:54:01-00:57:38</p>
<p style="color:orange;">0.472776</p>
</td>
<td><br />
<p>les3: 00:01:48-00:13:47</p>
<p style="color:orange;">0.47263822</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide24.png')}} alt="slide24.png" width="400" /></td>

<td><br />
<p>les2: 00:57:38-00:59:59</p>
<p style="color:orange;">0.43310955</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide25.png')}} alt="slide25.png" width="400" /></td>

<td><br />
<p>les3: 00:13:47-00:17:20</p>
<p style="color:red;">0.39496762</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide26.png')}} alt="slide26.png" width="400" /></td>

<td><br />
<p>les3: 00:17:20-00:21:28</p>
<p style="color:orange;">0.4486275</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide28.png')}} alt="slide28.png" width="400" /></td>

<td><br />
<p>les3: 00:21:28-00:33:40</p>
<p style="color:orange;">0.46294144</p>
</td>
<td><br />
<p>les4: 00:00:01-00:01:54</p>
<p style="color:orange;">0.46341062</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide29.png')}} alt="slide29.png" width="400" /></td>

<td><br />
<p>les3: 00:33:40-00:44:53</p>
<p style="color:orange;">0.48129392</p>
</td>
<td><br />
<p>les4: 00:01:54-00:02:59</p>
<p style="color:orange;">0.48090482</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide30.png')}} alt="slide30.png" width="400" /></td>

<td><br />
<p>les3: 00:00:01-00:01:48</p>
<p style="color:orange;">0.4200646</p>
</td>
<td><br />
<p>les3: 00:44:53-00:48:07</p>
<p style="color:orange;">0.4193972</p>
</td>
<td><br />
<p>les3: 00:48:07-00:49:51</p>
<p style="color:orange;">0.41946736</p>
</td>
<td><br />
<p>les3: 00:49:51-00:51:45</p>
<p style="color:orange;">0.41934052</p>
</td>
<td><br />
<p>les3: 00:51:45-00:52:47</p>
<p style="color:orange;">0.41940138</p>
</td>
<td><br />
<p>les3: 00:52:47-00:54:41</p>
<p style="color:orange;">0.41938207</p>
</td>
<td><br />
<p>les3: 00:54:41-00:55:43</p>
<p style="color:orange;">0.41940185</p>
</td>
<td><br />
<p>les3: 00:55:43-00:57:59</p>
<p style="color:orange;">0.4193495</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide31.png')}} alt="slide31.png" width="400" /></td>

<td><br />
<p>les4: 00:02:59-00:19:41</p>
<p style="color:orange;">0.49245772</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide32.png')}} alt="slide32.png" width="400" /></td>

<td><br />
<p>les4: 00:19:41-00:28:23</p>
<p style="color:orange;">0.48155868</p>
</td>
<td><br />
<p>les8: 00:00:01-00:02:01</p>
<p style="color:red;">0.217021</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide33.png')}} alt="slide33.png" width="400" /></td>

<td><br />
<p>les25_1: 00:31:30-00:34:22</p>
<p style="color:red;">0.14726482</p>
</td>
<td><br />
<p>les3: 00:57:59-00:59:59</p>
<p style="color:green;">0.5914059</p>
</td>
<td><br />
<p>les4: 00:28:23-00:33:26</p>
<p style="color:green;">0.5916794</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide34.png')}} alt="slide34.png" width="400" /></td>

<td><br />
<p>les4: 00:33:26-00:37:16</p>
<p style="color:orange;">0.46541843</p>
</td>
<td><br />
<p>les5: 00:00:01-00:14:27</p>
<p style="color:orange;">0.4657464</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide35.png')}} alt="slide35.png" width="400" /></td>

<td><br />
<p>les4: 00:37:16-00:57:17</p>
<p style="color:orange;">0.40684208</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide36.png')}} alt="slide36.png" width="400" /></td>

<td><br />
<p>les32: 00:46:34-00:48:17</p>
<p style="color:red;">0.08061803</p>
</td>
<td><br />
<p>les32: 00:48:17-00:50:00</p>
<p style="color:red;">0.080556005</p>
</td>
<td><br />
<p>les32: 00:50:00-00:59:59</p>
<p style="color:red;">0.080609396</p>
</td>
<td><br />
<p>les33: 00:00:01-00:01:11</p>
<p style="color:red;">0.08046396</p>
</td>
<td><br />
<p>les33: 00:01:11-00:02:21</p>
<p style="color:red;">0.0805676</p>
</td>
<td><br />
<p>les33: 00:02:21-00:03:32</p>
<p style="color:red;">0.080568075</p>
</td>
<td><br />
<p>les33: 00:03:32-00:04:42</p>
<p style="color:red;">0.08056393</p>
</td>
<td><br />
<p>les33: 00:04:42-00:05:53</p>
<p style="color:red;">0.08056712</p>
</td>
<td><br />
<p>les33: 00:05:53-00:07:03</p>
<p style="color:red;">0.080575645</p>
</td>
<td><br />
<p>les33: 00:07:03-00:08:13</p>
<p style="color:red;">0.080565915</p>
</td>
<td><br />
<p>les33: 00:08:13-00:09:24</p>
<p style="color:red;">0.08056786</p>
</td>
<td><br />
<p>les33: 00:09:24-00:10:34</p>
<p style="color:red;">0.08057837</p>
</td>
<td><br />
<p>les33: 00:10:34-00:11:45</p>
<p style="color:red;">0.080561206</p>
</td>
<td><br />
<p>les33: 00:11:45-00:12:55</p>
<p style="color:red;">0.08056908</p>
</td>
<td><br />
<p>les33: 00:12:55-00:14:05</p>
<p style="color:red;">0.08057405</p>
</td>
<td><br />
<p>les33: 00:14:05-00:15:16</p>
<p style="color:red;">0.08057791</p>
</td>
<td><br />
<p>les33: 00:15:16-00:16:26</p>
<p style="color:red;">0.080575615</p>
</td>
<td><br />
<p>les33: 00:16:26-00:17:37</p>
<p style="color:red;">0.08057351</p>
</td>
<td><br />
<p>les33: 00:17:37-00:18:47</p>
<p style="color:red;">0.08059343</p>
</td>
<td><br />
<p>les33: 00:18:47-00:19:57</p>
<p style="color:red;">0.08056781</p>
</td>
<td><br />
<p>les33: 00:19:57-00:21:08</p>
<p style="color:red;">0.080577284</p>
</td>
<td><br />
<p>les33: 00:21:08-00:22:18</p>
<p style="color:red;">0.08057866</p>
</td>
<td><br />
<p>les4: 00:57:17-00:59:59</p>
<p style="color:green;">0.5075284</p>
</td>
<td><br />
<p>les5: 00:14:27-00:16:13</p>
<p style="color:green;">0.5070619</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide37.png')}} alt="slide37.png" width="400" /></td>

<td><br />
<p>les5: 00:17:14-00:25:00</p>
<p style="color:orange;">0.45914575</p>
</td>
<td><br />
<p>les5: 00:25:00-00:32:12</p>
<p style="color:orange;">0.4592246</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide38.png')}} alt="slide38.png" width="400" /></td>

<td><br />
<p>les5: 00:16:13-00:17:14</p>
<p style="color:orange;">0.49347594</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide39.png')}} alt="slide39.png" width="400" /></td>

<td><br />
<p>les6: 00:00:01-00:03:28</p>
<p style="color:orange;">0.42858997</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide40.png')}} alt="slide40.png" width="400" /></td>

<td><br />
<p>les5: 00:32:12-00:35:02</p>
<p style="color:orange;">0.4327492</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide41.png')}} alt="slide41.png" width="400" /></td>

<td><br />
<p>les5: 00:35:02-00:41:14</p>
<p style="color:orange;">0.41246322</p>
</td>
<td><br />
<p>les5: 00:41:14-00:43:11</p>
<p style="color:orange;">0.41235226</p>
</td>
<td><br />
<p>les6: 00:03:28-00:04:45</p>
<p style="color:orange;">0.4124226</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide42.png')}} alt="slide42.png" width="400" /></td>

<td><br />
<p>les5: 00:43:11-00:55:06</p>
<p style="color:orange;">0.47105446</p>
</td>
<td><br />
<p>les6: 00:04:45-00:05:53</p>
<p style="color:orange;">0.47116995</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide43.png')}} alt="slide43.png" width="400" /></td>

<td><br />
<p>les5: 00:55:06-00:59:59</p>
<p style="color:orange;">0.4577407</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide45.png')}} alt="slide45.png" width="400" /></td>

<td><br />
<p>les6: 00:05:53-00:10:23</p>
<p style="color:green;">0.5224647</p>
</td>
<td><br />
<p>les7: 00:03:01-00:06:38</p>
<p style="color:green;">0.52220654</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide46.png')}} alt="slide46.png" width="400" /></td>

<td><br />
<p>les6: 00:10:23-00:14:23</p>
<p style="color:orange;">0.4586316</p>
</td>
<td><br />
<p>les6: 00:14:23-00:21:02</p>
<p style="color:orange;">0.45854136</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide48.png')}} alt="slide48.png" width="400" /></td>

<td><br />
<p>les6: 00:21:02-00:24:48</p>
<p style="color:orange;">0.43561953</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide49.png')}} alt="slide49.png" width="400" /></td>

<td><br />
<p>les6: 00:24:48-00:28:50</p>
<p style="color:orange;">0.45377758</p>
</td>
<td><br />
<p>les6: 00:28:50-00:32:30</p>
<p style="color:orange;">0.4541061</p>
</td>
<td><br />
<p>les7: 00:00:01-00:03:01</p>
<p style="color:orange;">0.45411915</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide51.png')}} alt="slide51.png" width="400" /></td>

<td><br />
<p>les6: 00:32:30-00:42:12</p>
<p style="color:orange;">0.46564597</p>
</td>
<td><br />
<p>les7: 00:06:38-00:08:15</p>
<p style="color:orange;">0.46573472</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide52.png')}} alt="slide52.png" width="400" /></td>

<td><br />
<p>les6: 00:42:12-00:59:59</p>
<p style="color:green;">0.5106857</p>
</td>
<td><br />
<p>les7: 00:08:15-00:14:01</p>
<p style="color:green;">0.5103776</p>
</td>
<td><br />
<p>les7: 00:15:24-00:16:31</p>
<p style="color:green;">0.5103008</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide53.png')}} alt="slide53.png" width="400" /></td>

<td><br />
<p>les7: 00:14:01-00:15:24</p>
<p style="color:orange;">0.4817884</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide54.png')}} alt="slide54.png" width="400" /></td>

<td><br />
<p>les7: 00:16:31-00:19:04</p>
<p style="color:orange;">0.4478539</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide55.png')}} alt="slide55.png" width="400" /></td>

<td><br />
<p>les7: 00:19:04-00:21:40</p>
<p style="color:orange;">0.47177237</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide56.png')}} alt="slide56.png" width="400" /></td>

<td><br />
<p>les11: 00:14:29-00:18:22</p>
<p style="color:orange;">0.44149676</p>
</td>
<td><br />
<p>les7: 00:21:40-00:28:53</p>
<p style="color:orange;">0.43388543</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide57.png')}} alt="slide57.png" width="400" /></td>

<td><br />
<p>les7: 00:28:53-00:32:14</p>
<p style="color:orange;">0.46141055</p>
</td>
<td><br />
<p>les7: 00:55:46-00:59:59</p>
<p style="color:orange;">0.46205473</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide58.png')}} alt="slide58.png" width="400" /></td>

<td><br />
<p>les7: 00:32:14-00:34:28</p>
<p style="color:orange;">0.4023645</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide59.png')}} alt="slide59.png" width="400" /></td>

<td><br />
<p>les7: 00:34:28-00:55:46</p>
<p style="color:green;">0.53978425</p>
</td>
<td><br />
<p>les8: 00:02:01-00:04:01</p>
<p style="color:green;">0.54020756</p>
</td>
<td><br />
<p>les8: 00:04:01-00:06:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:06:01-00:08:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:08:01-00:10:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:10:01-00:12:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:12:01-00:14:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:14:01-00:16:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:16:01-00:18:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:18:01-00:20:01</p>
<p style="color:green;">0.5402187</p>
</td>
<td><br />
<p>les8: 00:20:01-00:22:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:22:01-00:24:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:24:01-00:26:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:26:01-00:28:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:28:01-00:30:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:30:01-00:32:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:32:01-00:34:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:34:01-00:36:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:36:01-00:38:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:38:01-00:40:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:40:01-00:42:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:42:01-00:44:01</p>
<p style="color:green;">0.54022366</p>
</td>
<td><br />
<p>les8: 00:44:01-00:46:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:46:01-00:48:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:48:01-00:50:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:50:01-00:52:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:52:01-00:54:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les8: 00:54:01-00:56:01</p>
<p style="color:green;">0.5402176</p>
</td>
<td><br />
<p>les9: 00:00:01-00:01:19</p>
<p style="color:green;">0.5400416</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide60.png')}} alt="slide60.png" width="400" /></td>

<td><br />
<p>les8: 00:56:01-00:58:01</p>
<p style="color:orange;">0.41010535</p>
</td>
<td><br />
<p>les9: 00:01:19-00:03:20</p>
<p style="color:orange;">0.41006425</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide61.png')}} alt="slide61.png" width="400" /></td>

<td><br />
<p>les8: 00:58:01-00:59:59</p>
<p style="color:orange;">0.44402972</p>
</td>
<td><br />
<p>les9: 00:03:20-00:05:43</p>
<p style="color:orange;">0.44408178</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide62.png')}} alt="slide62.png" width="400" /></td>

<td><br />
<p>les10: 00:00:01-00:02:03</p>
<p style="color:orange;">0.42318824</p>
</td>
<td><br />
<p>les9: 00:05:43-00:12:12</p>
<p style="color:orange;">0.41698924</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide63.png')}} alt="slide63.png" width="400" /></td>

<td><br />
<p>les9: 00:12:12-00:20:23</p>
<p style="color:red;">0.398514</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide64.png')}} alt="slide64.png" width="400" /></td>

<td><br />
<p>les9: 00:20:23-00:24:22</p>
<p style="color:orange;">0.45305207</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide65.png')}} alt="slide65.png" width="400" /></td>

<td><br />
<p>les9: 00:24:22-00:29:38</p>
<p style="color:orange;">0.45967522</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide66.png')}} alt="slide66.png" width="400" /></td>

<td><br />
<p>les9: 00:29:38-00:41:24</p>
<p style="color:orange;">0.43229556</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide67.png')}} alt="slide67.png" width="400" /></td>

<td><br />
<p>les10: 00:02:03-00:05:05</p>
<p style="color:orange;">0.42673928</p>
</td>
<td><br />
<p>les9: 00:41:24-00:56:18</p>
<p style="color:orange;">0.41882768</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide69.png')}} alt="slide69.png" width="400" /></td>

<td><br />
<p>les9: 00:56:18-00:57:36</p>
<p style="color:orange;">0.46413758</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide71.png')}} alt="slide71.png" width="400" /></td>

<td><br />
<p>les11: 00:22:30-00:23:47</p>
<p style="color:orange;">0.44261312</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide72.png')}} alt="slide72.png" width="400" /></td>

<td><br />
<p>les10: 00:05:05-00:18:48</p>
<p style="color:orange;">0.47812375</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide73.png')}} alt="slide73.png" width="400" /></td>

<td><br />
<p>les10: 00:18:48-00:21:36</p>
<p style="color:green;">0.5012586</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide75.png')}} alt="slide75.png" width="400" /></td>

<td><br />
<p>les9: 00:57:36-00:58:43</p>
<p style="color:orange;">0.46817985</p>
</td>
<td><br />
<p>les9: 00:58:43-00:59:59</p>
<p style="color:orange;">0.46808088</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide76.png')}} alt="slide76.png" width="400" /></td>

<td><br />
<p>les10: 00:21:36-00:27:57</p>
<p style="color:orange;">0.40036052</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide77.png')}} alt="slide77.png" width="400" /></td>

<td><br />
<p>les10: 00:27:57-00:31:55</p>
<p style="color:orange;">0.42656186</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide78.png')}} alt="slide78.png" width="400" /></td>

<td><br />
<p>les10: 00:31:55-00:40:43</p>
<p style="color:orange;">0.4691676</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide79.png')}} alt="slide79.png" width="400" /></td>

<td><br />
<p>les10: 00:40:43-00:43:50</p>
<p style="color:red;">0.37716603</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide80.png')}} alt="slide80.png" width="400" /></td>

<td><br />
<p>les10: 00:43:50-00:49:14</p>
<p style="color:orange;">0.49440283</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide81.png')}} alt="slide81.png" width="400" /></td>

<td><br />
<p>les10: 00:49:14-00:53:53</p>
<p style="color:orange;">0.46910113</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide82.png')}} alt="slide82.png" width="400" /></td>

<td><br />
<p>les10: 00:53:53-00:55:37</p>
<p style="color:green;">0.53598046</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide83.png')}} alt="slide83.png" width="400" /></td>

<td><br />
<p>les10: 00:55:37-00:59:59</p>
<p style="color:orange;">0.4638692</p>
</td>
<td><br />
<p>les11: 00:00:01-00:06:31</p>
<p style="color:orange;">0.4644037</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide84.png')}} alt="slide84.png" width="400" /></td>

<td><br />
<p>les11: 00:06:31-00:10:42</p>
<p style="color:orange;">0.44337025</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide85.png')}} alt="slide85.png" width="400" /></td>

<td><br />
<p>les11: 00:10:42-00:14:29</p>
<p style="color:orange;">0.46630347</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide86.png')}} alt="slide86.png" width="400" /></td>

<td><br />
<p>les11: 00:18:22-00:22:30</p>
<p style="color:orange;">0.46220717</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide87.png')}} alt="slide87.png" width="400" /></td>

<td><br />
<p>les11: 00:23:47-00:27:22</p>
<p style="color:orange;">0.47151065</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide88.png')}} alt="slide88.png" width="400" /></td>

<td><br />
<p>les11: 00:27:22-00:33:23</p>
<p style="color:orange;">0.46184462</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide89.png')}} alt="slide89.png" width="400" /></td>

<td><br />
<p>les11: 00:33:23-00:46:50</p>
<p style="color:orange;">0.4631742</p>
</td>
<td><br />
<p>les12: 00:00:01-00:07:01</p>
<p style="color:orange;">0.46372595</p>
</td>
<td><br />
<p>les12: 00:07:01-00:14:28</p>
<p style="color:orange;">0.46312746</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide90.png')}} alt="slide90.png" width="400" /></td>

<td><br />
<p>les11: 00:46:50-00:54:45</p>
<p style="color:orange;">0.4325379</p>
</td>
<td><br />
<p>les12: 00:14:28-00:22:21</p>
<p style="color:orange;">0.432638</p>
</td>
<td><br />
<p>les14: 00:56:52-00:59:59</p>
<p style="color:red;">0.015998421</p>
</td>
<td><br />
<p>les17: 00:56:21-00:59:59</p>
<p style="color:red;">0.015998421</p>
</td>
<td><br />
<p>les23: 00:42:59-00:59:59</p>
<p style="color:red;">0.015998421</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide91.png')}} alt="slide91.png" width="400" /></td>

<td><br />
<p>les11: 00:54:45-00:59:59</p>
<p style="color:orange;">0.4461225</p>
</td>
<td><br />
<p>les12: 00:22:21-00:28:21</p>
<p style="color:orange;">0.44631857</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide92.png')}} alt="slide92.png" width="400" /></td>

<td><br />
<p>les12: 00:28:21-00:38:57</p>
<p style="color:orange;">0.45403206</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide94.png')}} alt="slide94.png" width="400" /></td>

<td><br />
<p>les12: 00:38:57-00:45:46</p>
<p style="color:orange;">0.4299924</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide96.png')}} alt="slide96.png" width="400" /></td>

<td><br />
<p>les12: 00:45:46-00:49:24</p>
<p style="color:orange;">0.4207811</p>
</td>
<td><br />
<p>les13: 00:01:02-00:02:20</p>
<p style="color:orange;">0.42075914</p>
</td>
<td><br />
<p>les13: 00:06:27-00:07:35</p>
<p style="color:orange;">0.42042705</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide97.png')}} alt="slide97.png" width="400" /></td>

<td><br />
<p>les12: 00:49:24-00:55:15</p>
<p style="color:orange;">0.4468466</p>
</td>
<td><br />
<p>les13: 00:02:20-00:06:27</p>
<p style="color:orange;">0.4466411</p>
</td>
<td><br />
<p>les13: 00:07:35-00:08:50</p>
<p style="color:orange;">0.4468062</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide98.png')}} alt="slide98.png" width="400" /></td>

<td><br />
<p>les12: 00:55:15-00:59:59</p>
<p style="color:orange;">0.46444935</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide99.png')}} alt="slide99.png" width="400" /></td>

<td><br />
<p>les13: 00:08:50-00:15:01</p>
<p style="color:orange;">0.47268763</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide101.png')}} alt="slide101.png" width="400" /></td>

<td><br />
<p>les13: 00:15:01-00:19:47</p>
<p style="color:green;">0.50384337</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide103.png')}} alt="slide103.png" width="400" /></td>

<td><br />
<p>les13: 00:19:47-00:22:44</p>
<p style="color:orange;">0.49912152</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide105.png')}} alt="slide105.png" width="400" /></td>

<td><br />
<p>les13: 00:22:44-00:36:53</p>
<p style="color:orange;">0.43971846</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide109.png')}} alt="slide109.png" width="400" /></td>

<td><br />
<p>les13: 00:36:53-00:42:38</p>
<p style="color:orange;">0.41398695</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide111.png')}} alt="slide111.png" width="400" /></td>

<td><br />
<p>les13: 00:42:38-00:47:55</p>
<p style="color:orange;">0.47267443</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide113.png')}} alt="slide113.png" width="400" /></td>

<td><br />
<p>les13: 00:47:55-00:52:52</p>
<p style="color:orange;">0.49753684</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide114.png')}} alt="slide114.png" width="400" /></td>

<td><br />
<p>les13: 00:52:52-00:57:39</p>
<p style="color:orange;">0.41515285</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide115.png')}} alt="slide115.png" width="400" /></td>

<td><br />
<p>les13: 00:57:39-00:59:59</p>
<p style="color:red;">0.39943284</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide116.png')}} alt="slide116.png" width="400" /></td>

<td><br />
<p>les14: 00:07:41-00:10:37</p>
<p style="color:orange;">0.44037637</p>
</td>
<td><br />
<p>les14: 00:10:37-00:12:39</p>
<p style="color:orange;">0.44042385</p>
</td>
<td><br />
<p>les14: 00:12:39-00:13:59</p>
<p style="color:orange;">0.44033954</p>
</td>
<td><br />
<p>les14: 00:13:59-00:15:19</p>
<p style="color:orange;">0.440341</p>
</td>
<td><br />
<p>les14: 00:15:19-00:20:23</p>
<p style="color:orange;">0.44040287</p>
</td>
<td><br />
<p>les14: 00:20:23-00:21:35</p>
<p style="color:orange;">0.4403238</p>
</td>
<td><br />
<p>les14: 00:21:35-00:23:12</p>
<p style="color:orange;">0.44043103</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide118.png')}} alt="slide118.png" width="400" /></td>

<td><br />
<p>les14: 00:23:12-00:31:03</p>
<p style="color:orange;">0.46426347</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide119.png')}} alt="slide119.png" width="400" /></td>

<td><br />
<p>les14: 00:31:03-00:41:56</p>
<p style="color:orange;">0.41635904</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide120.png')}} alt="slide120.png" width="400" /></td>

<td><br />
<p>les14: 00:41:56-00:49:53</p>
<p style="color:orange;">0.46411204</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide121.png')}} alt="slide121.png" width="400" /></td>

<td><br />
<p>les15: 00:00:01-00:01:28</p>
<p style="color:orange;">0.47096944</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide122.png')}} alt="slide122.png" width="400" /></td>

<td><br />
<p>les14: 00:49:53-00:55:09</p>
<p style="color:orange;">0.4441007</p>
</td>
<td><br />
<p>les15: 00:01:28-00:06:51</p>
<p style="color:orange;">0.4440106</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide123.png')}} alt="slide123.png" width="400" /></td>

<td><br />
<p>les14: 00:55:09-00:56:52</p>
<p style="color:orange;">0.49537075</p>
</td>
<td><br />
<p>les15: 00:06:51-00:13:01</p>
<p style="color:orange;">0.49541664</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide125.png')}} alt="slide125.png" width="400" /></td>

<td><br />
<p>les15: 00:13:01-00:19:43</p>
<p style="color:orange;">0.4567937</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide126.png')}} alt="slide126.png" width="400" /></td>

<td><br />
<p>les15: 00:19:43-00:25:09</p>
<p style="color:red;">0.37725893</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide127.png')}} alt="slide127.png" width="400" /></td>

<td><br />
<p>les15: 00:25:09-00:32:08</p>
<p style="color:orange;">0.4541133</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide128.png')}} alt="slide128.png" width="400" /></td>

<td><br />
<p>les15: 00:32:08-00:39:18</p>
<p style="color:orange;">0.4642572</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide129.png')}} alt="slide129.png" width="400" /></td>

<td><br />
<p>les15: 00:39:18-00:46:24</p>
<p style="color:orange;">0.413565</p>
</td>
<td><br />
<p>les16: 00:00:01-00:05:18</p>
<p style="color:orange;">0.4139248</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide130.png')}} alt="slide130.png" width="400" /></td>

<td><br />
<p>les15: 00:46:24-00:59:59</p>
<p style="color:red;">0.3777967</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide131.png')}} alt="slide131.png" width="400" /></td>

<td><br />
<p>les16: 00:05:18-00:17:47</p>
<p style="color:red;">0.37684584</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide135.png')}} alt="slide135.png" width="400" /></td>

<td><br />
<p>les16: 00:17:47-00:23:08</p>
<p style="color:orange;">0.42863858</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide137.png')}} alt="slide137.png" width="400" /></td>

<td><br />
<p>les16: 00:23:08-00:27:54</p>
<p style="color:orange;">0.43833512</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide138.png')}} alt="slide138.png" width="400" /></td>

<td><br />
<p>les16: 00:27:54-00:42:16</p>
<p style="color:orange;">0.49434194</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide139.png')}} alt="slide139.png" width="400" /></td>

<td><br />
<p>les16: 00:42:16-00:56:47</p>
<p style="color:orange;">0.485977</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide140.png')}} alt="slide140.png" width="400" /></td>

<td><br />
<p>les16: 00:56:47-00:59:59</p>
<p style="color:orange;">0.47130188</p>
</td>
<td><br />
<p>les17: 00:00:01-00:01:02</p>
<p style="color:orange;">0.47191083</p>
</td>
<td><br />
<p>les17: 00:01:02-00:10:37</p>
<p style="color:orange;">0.4712064</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide141.png')}} alt="slide141.png" width="400" /></td>

<td><br />
<p>les17: 00:10:37-00:20:39</p>
<p style="color:orange;">0.45646927</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide142.png')}} alt="slide142.png" width="400" /></td>

<td><br />
<p>les17: 00:20:39-00:36:52</p>
<p style="color:orange;">0.463626</p>
</td>
<td><br />
<p>les18: 00:05:23-00:21:57</p>
<p style="color:orange;">0.45565194</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide143.png')}} alt="slide143.png" width="400" /></td>

<td><br />
<p>les17: 00:36:52-00:51:17</p>
<p style="color:orange;">0.43522972</p>
</td>
<td><br />
<p>les17: 00:54:50-00:56:21</p>
<p style="color:orange;">0.43544254</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide144.png')}} alt="slide144.png" width="400" /></td>

<td><br />
<p>les17: 00:51:17-00:53:40</p>
<p style="color:green;">0.52694833</p>
</td>
<td><br />
<p>les17: 00:53:40-00:54:50</p>
<p style="color:green;">0.5266764</p>
</td>
<td><br />
<p>les18: 00:00:01-00:02:13</p>
<p style="color:green;">0.5200887</p>
</td>
<td><br />
<p>les18: 00:02:13-00:05:23</p>
<p style="color:green;">0.5196008</p>
</td>
<td><br />
<p>les32: 00:22:25-00:24:09</p>
<p style="color:red;">-0.027592005</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide145.png')}} alt="slide145.png" width="400" /></td>

<td><br />
<p>les18: 00:21:57-00:41:58</p>
<p style="color:orange;">0.46732166</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide146.png')}} alt="slide146.png" width="400" /></td>

<td><br />
<p>les18: 00:41:58-00:47:24</p>
<p style="color:orange;">0.44586545</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide148.png')}} alt="slide148.png" width="400" /></td>

<td><br />
<p>les18: 00:47:24-00:59:59</p>
<p style="color:orange;">0.42919976</p>
</td>
<td><br />
<p>les19: 00:00:01-00:00:47</p>
<p style="color:orange;">0.4290504</p>
</td>
<td><br />
<p>les19: 00:00:47-00:01:33</p>
<p style="color:orange;">0.42863658</p>
</td>
<td><br />
<p>les19: 00:01:33-00:02:19</p>
<p style="color:orange;">0.42871565</p>
</td>
<td><br />
<p>les19: 00:02:19-00:03:05</p>
<p style="color:orange;">0.42870462</p>
</td>
<td><br />
<p>les19: 00:03:05-00:03:52</p>
<p style="color:orange;">0.42872223</p>
</td>
<td><br />
<p>les19: 00:03:52-00:04:38</p>
<p style="color:orange;">0.42873794</p>
</td>
<td><br />
<p>les19: 00:04:38-00:05:24</p>
<p style="color:orange;">0.42875275</p>
</td>
<td><br />
<p>les19: 00:05:24-00:06:10</p>
<p style="color:orange;">0.42875978</p>
</td>
<td><br />
<p>les19: 00:06:10-00:06:57</p>
<p style="color:orange;">0.42879182</p>
</td>
<td><br />
<p>les19: 00:06:57-00:07:43</p>
<p style="color:orange;">0.42881924</p>
</td>
<td><br />
<p>les19: 00:07:43-00:08:29</p>
<p style="color:orange;">0.4287874</p>
</td>
<td><br />
<p>les19: 00:08:29-00:09:15</p>
<p style="color:orange;">0.4287677</p>
</td>
<td><br />
<p>les19: 00:09:15-00:10:01</p>
<p style="color:orange;">0.42876753</p>
</td>
<td><br />
<p>les19: 00:10:01-00:10:48</p>
<p style="color:orange;">0.42880765</p>
</td>
<td><br />
<p>les19: 00:10:48-00:11:34</p>
<p style="color:orange;">0.42874664</p>
</td>
<td><br />
<p>les19: 00:11:34-00:12:20</p>
<p style="color:orange;">0.4287373</p>
</td>
<td><br />
<p>les19: 00:12:20-00:13:06</p>
<p style="color:orange;">0.42874566</p>
</td>
<td><br />
<p>les19: 00:13:06-00:13:53</p>
<p style="color:orange;">0.42877755</p>
</td>
<td><br />
<p>les19: 00:13:53-00:14:39</p>
<p style="color:orange;">0.42876753</p>
</td>
<td><br />
<p>les19: 00:14:39-00:15:25</p>
<p style="color:orange;">0.42874843</p>
</td>
<td><br />
<p>les19: 00:15:25-00:16:11</p>
<p style="color:orange;">0.4288068</p>
</td>
<td><br />
<p>les19: 00:16:11-00:16:58</p>
<p style="color:orange;">0.4287226</p>
</td>
<td><br />
<p>les19: 00:16:58-00:17:44</p>
<p style="color:orange;">0.42877194</p>
</td>
<td><br />
<p>les19: 00:17:44-00:18:30</p>
<p style="color:orange;">0.42874077</p>
</td>
<td><br />
<p>les19: 00:18:30-00:19:16</p>
<p style="color:orange;">0.42874572</p>
</td>
<td><br />
<p>les19: 00:19:16-00:20:02</p>
<p style="color:orange;">0.42878777</p>
</td>
<td><br />
<p>les19: 00:20:02-00:20:49</p>
<p style="color:orange;">0.4287699</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide151.png')}} alt="slide151.png" width="400" /></td>

<td><br />
<p>les19: 00:20:49-00:21:35</p>
<p style="color:red;">0.36990815</p>
</td>
<td><br />
<p>les19: 00:21:35-00:22:21</p>
<p style="color:red;">0.36993018</p>
</td>
<td><br />
<p>les19: 00:22:21-00:59:59</p>
<p style="color:red;">0.36982435</p>
</td>
<td><br />
<p>les27: 00:40:21-00:59:59</p>
<p style="color:red;">0.009826614</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide152.png')}} alt="slide152.png" width="400" /></td>

<td><br />
<p>les21: 00:00:01-00:01:20</p>
<p style="color:orange;">0.4616512</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide153.png')}} alt="slide153.png" width="400" /></td>

<td><br />
<p>les21: 00:01:20-00:04:14</p>
<p style="color:orange;">0.4246331</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide154.png')}} alt="slide154.png" width="400" /></td>

<td><br />
<p>les21: 00:04:14-00:08:17</p>
<p style="color:orange;">0.40588525</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide155.png')}} alt="slide155.png" width="400" /></td>

<td><br />
<p>les21: 00:08:17-00:12:08</p>
<p style="color:orange;">0.46249294</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide156.png')}} alt="slide156.png" width="400" /></td>

<td><br />
<p>les21: 00:12:08-00:18:34</p>
<p style="color:orange;">0.4435665</p>
</td>
<td><br />
<p>les24: 00:35:32-00:44:55</p>
<p style="color:orange;">0.4419054</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide157.png')}} alt="slide157.png" width="400" /></td>

<td><br />
<p>les21: 00:18:34-00:20:04</p>
<p style="color:orange;">0.4495231</p>
</td>
<td><br />
<p>les21: 00:20:04-00:22:28</p>
<p style="color:orange;">0.4495263</p>
</td>
<td><br />
<p>les21: 00:22:28-00:25:32</p>
<p style="color:orange;">0.44962084</p>
</td>
<td><br />
<p>les22: 00:00:01-00:01:44</p>
<p style="color:orange;">0.43766382</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide158.png')}} alt="slide158.png" width="400" /></td>

<td><br />
<p>les21: 00:25:32-00:33:10</p>
<p style="color:orange;">0.42574695</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide159.png')}} alt="slide159.png" width="400" /></td>

<td><br />
<p>les21: 00:33:10-00:37:37</p>
<p style="color:orange;">0.45181966</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide160.png')}} alt="slide160.png" width="400" /></td>

<td><br />
<p>les21: 00:37:37-00:48:20</p>
<p style="color:red;">0.39860588</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide161.png')}} alt="slide161.png" width="400" /></td>

<td><br />
<p>les21: 00:48:20-00:53:30</p>
<p style="color:orange;">0.4152549</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide162.png')}} alt="slide162.png" width="400" /></td>

<td><br />
<p>les21: 00:53:30-00:58:47</p>
<p style="color:red;">0.394938</p>
</td>
<td><br />
<p>les22: 00:01:44-00:02:47</p>
<p style="color:red;">0.38409474</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide163.png')}} alt="slide163.png" width="400" /></td>

<td><br />
<p>les21: 00:58:47-00:59:59</p>
<p style="color:orange;">0.42379457</p>
</td>
<td><br />
<p>les22: 00:02:47-00:06:52</p>
<p style="color:orange;">0.41346616</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide164.png')}} alt="slide164.png" width="400" /></td>

<td><br />
<p>les22: 00:06:52-00:10:57</p>
<p style="color:red;">0.39405078</p>
</td>
<td><br />
<p>les23: 00:34:29-00:36:44</p>
<p style="color:orange;">0.40385157</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide165.png')}} alt="slide165.png" width="400" /></td>

<td><br />
<p>les22: 00:10:57-00:24:40</p>
<p style="color:red;">0.39169762</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide166.png')}} alt="slide166.png" width="400" /></td>

<td><br />
<p>les22: 00:24:40-00:31:00</p>
<p style="color:orange;">0.41709834</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide167.png')}} alt="slide167.png" width="400" /></td>

<td><br />
<p>les13: 00:00:01-00:01:02</p>
<p style="color:red;">0.22111367</p>
</td>
<td><br />
<p>les14: 00:00:01-00:04:48</p>
<p style="color:red;">0.22317462</p>
</td>
<td><br />
<p>les22: 00:31:00-00:33:39</p>
<p style="color:orange;">0.46421206</p>
</td>
<td><br />
<p>les22: 00:33:39-00:37:25</p>
<p style="color:orange;">0.46431446</p>
</td>
<td><br />
<p>les28: 00:00:01-00:11:55</p>
<p style="color:red;">0.076988585</p>
</td>
<td><br />
<p>les28: 00:11:55-00:30:12</p>
<p style="color:red;">0.09571874</p>
</td>
<td><br />
<p>les28: 00:30:12-00:47:48</p>
<p style="color:red;">0.07715399</p>
</td>
<td><br />
<p>les29: 00:36:42-00:37:52</p>
<p style="color:red;">0.08935371</p>
</td>
<td><br />
<p>les29: 00:37:52-00:59:59</p>
<p style="color:red;">0.085164614</p>
</td>
<td><br />
<p>les31: 00:02:59-00:06:08</p>
<p style="color:red;">0.083413675</p>
</td>
<td><br />
<p>les31: 00:06:08-00:15:35</p>
<p style="color:red;">0.08342222</p>
</td>
<td><br />
<p>les31: 00:15:35-00:20:27</p>
<p style="color:red;">0.083422974</p>
</td>
<td><br />
<p>les32: 00:24:09-00:25:52</p>
<p style="color:red;">0.086843014</p>
</td>
<td><br />
<p>les32: 00:25:52-00:27:36</p>
<p style="color:red;">0.08682363</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide168.png')}} alt="slide168.png" width="400" /></td>

<td><br />
<p>les22: 00:37:25-00:39:41</p>
<p style="color:orange;">0.4186248</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide169.png')}} alt="slide169.png" width="400" /></td>

<td><br />
<p>les22: 00:39:41-00:42:19</p>
<p style="color:red;">0.386873</p>
</td>
<td><br />
<p>les23: 00:00:01-00:02:01</p>
<p style="color:red;">0.3947352</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide170.png')}} alt="slide170.png" width="400" /></td>

<td><br />
<p>les22: 00:42:19-00:53:00</p>
<p style="color:red;">0.3870218</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide171.png')}} alt="slide171.png" width="400" /></td>

<td><br />
<p>les22: 00:53:00-00:59:59</p>
<p style="color:orange;">0.40292564</p>
</td>
<td><br />
<p>les23: 00:02:01-00:09:55</p>
<p style="color:orange;">0.41172272</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide172.png')}} alt="slide172.png" width="400" /></td>

<td><br />
<p>les23: 00:09:55-00:13:03</p>
<p style="color:orange;">0.4240589</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide174.png')}} alt="slide174.png" width="400" /></td>

<td><br />
<p>les23: 00:13:03-00:32:27</p>
<p style="color:orange;">0.40524456</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide175.png')}} alt="slide175.png" width="400" /></td>

<td><br />
<p>les23: 00:32:27-00:34:29</p>
<p style="color:orange;">0.40170413</p>
</td>
<td><br />
<p>les23: 00:36:44-00:39:06</p>
<p style="color:orange;">0.4026304</p>
</td>
<td><br />
<p>les24: 00:44:55-00:51:56</p>
<p style="color:orange;">0.40230918</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide176.png')}} alt="slide176.png" width="400" /></td>

<td><br />
<p>les23: 00:39:06-00:41:40</p>
<p style="color:orange;">0.49897215</p>
</td>
<td><br />
<p>les24: 00:02:14-00:11:32</p>
<p style="color:orange;">0.4993804</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide177.png')}} alt="slide177.png" width="400" /></td>

<td><br />
<p>les23: 00:41:40-00:42:59</p>
<p style="color:orange;">0.43690875</p>
</td>
<td><br />
<p>les24: 00:00:01-00:02:14</p>
<p style="color:orange;">0.43752986</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide178.png')}} alt="slide178.png" width="400" /></td>

<td><br />
<p>les24: 00:11:32-00:16:47</p>
<p style="color:orange;">0.40016675</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide179.png')}} alt="slide179.png" width="400" /></td>

<td><br />
<p>les24: 00:16:47-00:29:13</p>
<p style="color:red;">0.38984454</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide182.png')}} alt="slide182.png" width="400" /></td>

<td><br />
<p>les24: 00:29:13-00:35:32</p>
<p style="color:orange;">0.4092528</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide185.png')}} alt="slide185.png" width="400" /></td>

<td><br />
<p>les24: 00:51:56-00:53:58</p>
<p style="color:green;">0.54598695</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide188.png')}} alt="slide188.png" width="400" /></td>

<td><br />
<p>les25_1: 00:00:01-00:02:01</p>
<p style="color:orange;">0.41096044</p>
</td>
<td><br />
<p>les25_1: 00:02:01-00:05:01</p>
<p style="color:orange;">0.4085016</p>
</td>
<td><br />
<p>les25_1: 00:05:01-00:07:01</p>
<p style="color:orange;">0.40854353</p>
</td>
<td><br />
<p>les25_1: 00:07:01-00:08:41</p>
<p style="color:orange;">0.40849528</p>
</td>
<td><br />
<p>les25_1: 00:08:41-00:11:01</p>
<p style="color:orange;">0.40851092</p>
</td>
<td><br />
<p>les25_1: 00:11:01-00:13:01</p>
<p style="color:orange;">0.4085049</p>
</td>
<td><br />
<p>les25_1: 00:13:01-00:16:29</p>
<p style="color:orange;">0.40844825</p>
</td>
<td><br />
<p>les25_1: 00:16:29-00:20:01</p>
<p style="color:orange;">0.40848944</p>
</td>
<td><br />
<p>les25_1: 00:20:01-00:21:01</p>
<p style="color:orange;">0.40853897</p>
</td>
<td><br />
<p>les25_1: 00:21:01-00:24:01</p>
<p style="color:orange;">0.40848595</p>
</td>
<td><br />
<p>les25_1: 00:24:01-00:26:00</p>
<p style="color:orange;">0.40852463</p>
</td>
<td><br />
<p>les25_1: 00:26:00-00:28:01</p>
<p style="color:orange;">0.40850416</p>
</td>
<td><br />
<p>les25_1: 00:28:01-00:29:01</p>
<p style="color:orange;">0.40845093</p>
</td>
<td><br />
<p>les25_1: 00:29:01-00:31:30</p>
<p style="color:orange;">0.40844926</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide189.png')}} alt="slide189.png" width="400" /></td>

<td><br />
<p>les24: 00:53:58-00:59:59</p>
<p style="color:orange;">0.4241683</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide191.png')}} alt="slide191.png" width="400" /></td>

<td><br />
<p>les25_1: 00:34:22-00:45:32</p>
<p style="color:red;">0.3679054</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide192.png')}} alt="slide192.png" width="400" /></td>

<td><br />
<p>les25_1: 00:45:32-00:59:59</p>
<p style="color:orange;">0.47707096</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide193.png')}} alt="slide193.png" width="400" /></td>

<td><br />
<p>les25_2: 00:00:01-00:02:51</p>
<p style="color:red;">0.37721577</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide195.png')}} alt="slide195.png" width="400" /></td>

<td><br />
<p>les25_2: 00:02:51-00:07:02</p>
<p style="color:orange;">0.42601836</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide196.png')}} alt="slide196.png" width="400" /></td>

<td><br />
<p>les25_2: 00:07:02-00:13:49</p>
<p style="color:orange;">0.44588733</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide197.png')}} alt="slide197.png" width="400" /></td>

<td><br />
<p>les25_2: 00:13:49-00:19:54</p>
<p style="color:orange;">0.47170255</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide198.png')}} alt="slide198.png" width="400" /></td>

<td><br />
<p>les25_2: 00:19:54-00:21:44</p>
<p style="color:orange;">0.45297828</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide199.png')}} alt="slide199.png" width="400" /></td>

<td><br />
<p>les25_2: 00:21:44-00:24:34</p>
<p style="color:orange;">0.43264642</p>
</td>
<td><br />
<p>les32: 00:43:07-00:44:50</p>
<p style="color:red;">0.09634099</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide200.png')}} alt="slide200.png" width="400" /></td>

<td><br />
<p>les25_2: 00:24:34-00:30:08</p>
<p style="color:orange;">0.457154</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide201.png')}} alt="slide201.png" width="400" /></td>

<td><br />
<p>les25_2: 00:30:08-00:59:59</p>
<p style="color:orange;">0.43587226</p>
</td>
<td><br />
<p>les26: 00:00:01-00:13:30</p>
<p style="color:orange;">0.43444282</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide202.png')}} alt="slide202.png" width="400" /></td>

<td><br />
<p>les26: 00:13:30-00:25:26</p>
<p style="color:orange;">0.400388</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide204.png')}} alt="slide204.png" width="400" /></td>

<td><br />
<p>les26: 00:25:26-00:41:22</p>
<p style="color:orange;">0.45488036</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide206.png')}} alt="slide206.png" width="400" /></td>

<td><br />
<p>les26: 00:41:22-00:42:51</p>
<p style="color:orange;">0.42643833</p>
</td>
<td><br />
<p>les27: 00:00:01-00:02:05</p>
<p style="color:orange;">0.4303852</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide208.png')}} alt="slide208.png" width="400" /></td>

<td><br />
<p>les26: 00:42:51-00:45:36</p>
<p style="color:red;">0.3971324</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide209.png')}} alt="slide209.png" width="400" /></td>

<td><br />
<p>les26: 00:45:36-00:52:10</p>
<p style="color:orange;">0.48025975</p>
</td>
<td><br />
<p>les26: 00:52:10-00:59:59</p>
<p style="color:orange;">0.48044932</p>
</td>
<td><br />
<p>les27: 00:02:05-00:09:22</p>
<p style="color:orange;">0.48394793</p>
</td>
<td><br />
<p>les27: 00:14:46-00:40:21</p>
<p style="color:orange;">0.48407325</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide212.png')}} alt="slide212.png" width="400" /></td>

<td><br />
<p>les27: 00:09:22-00:10:43</p>
<p style="color:orange;">0.46679363</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide213.png')}} alt="slide213.png" width="400" /></td>

<td><br />
<p>les27: 00:10:43-00:11:45</p>
<p style="color:orange;">0.44627362</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide214.png')}} alt="slide214.png" width="400" /></td>

<td><br />
<p>les27: 00:11:45-00:13:14</p>
<p style="color:orange;">0.40066078</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide215.png')}} alt="slide215.png" width="400" /></td>

<td><br />
<p>les27: 00:13:14-00:14:46</p>
<p style="color:red;">0.37205562</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide221.png')}} alt="slide221.png" width="400" /></td>

<td><br />
<p>les28: 00:47:48-00:59:59</p>
<p style="color:red;">0.103169344</p>
</td>
<td><br />
<p>les31: 00:00:01-00:02:59</p>
<p style="color:red;">0.10409878</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide224.png')}} alt="slide224.png" width="400" /></td>

<td><br />
<p>les29: 00:00:01-00:01:51</p>
<p style="color:red;">0.09138208</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide225.png')}} alt="slide225.png" width="400" /></td>

<td><br />
<p>les29: 00:01:51-00:16:52</p>
<p style="color:red;">0.08216085</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide226.png')}} alt="slide226.png" width="400" /></td>

<td><br />
<p>les29: 00:16:52-00:17:55</p>
<p style="color:red;">0.10207549</p>
</td>
<td><br />
<p>les29: 00:17:55-00:27:45</p>
<p style="color:red;">0.1020436</p>
</td>
<td><br />
<p>les29: 00:27:45-00:29:29</p>
<p style="color:red;">0.102050096</p>
</td>
<td><br />
<p>les29: 00:29:29-00:34:41</p>
<p style="color:red;">0.102062166</p>
</td>
<td><br />
<p>les29: 00:34:41-00:36:42</p>
<p style="color:red;">0.1020894</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide230.png')}} alt="slide230.png" width="400" /></td>

<td><br />
<p>les30: 00:00:01-00:04:51</p>
<p style="color:red;">0.09652789</p>
</td>
<td><br />
<p>les30: 00:04:51-00:06:45</p>
<p style="color:red;">0.09641188</p>
</td>
<td><br />
<p>les30: 00:06:45-00:08:45</p>
<p style="color:red;">0.09643185</p>
</td>
<td><br />
<p>les30: 00:08:45-00:10:47</p>
<p style="color:red;">0.09643776</p>
</td>
<td><br />
<p>les30: 00:10:47-00:12:59</p>
<p style="color:red;">0.09642313</p>
</td>
<td><br />
<p>les30: 00:12:59-00:15:07</p>
<p style="color:red;">0.096419275</p>
</td>
<td><br />
<p>les30: 00:15:07-00:16:09</p>
<p style="color:red;">0.09641909</p>
</td>
<td><br />
<p>les30: 00:16:09-00:17:45</p>
<p style="color:red;">0.09636196</p>
</td>
<td><br />
<p>les30: 00:17:45-00:18:47</p>
<p style="color:red;">0.096390046</p>
</td>
<td><br />
<p>les30: 00:18:47-00:21:31</p>
<p style="color:red;">0.09645436</p>
</td>
<td><br />
<p>les30: 00:21:31-00:22:33</p>
<p style="color:red;">0.096426815</p>
</td>
<td><br />
<p>les30: 00:22:33-00:26:05</p>
<p style="color:red;">0.09644858</p>
</td>
<td><br />
<p>les30: 00:26:05-00:27:50</p>
<p style="color:red;">0.09640718</p>
</td>
<td><br />
<p>les30: 00:27:50-00:29:33</p>
<p style="color:red;">0.09638727</p>
</td>
<td><br />
<p>les30: 00:29:33-00:30:57</p>
<p style="color:red;">0.0964124</p>
</td>
<td><br />
<p>les30: 00:30:57-00:32:06</p>
<p style="color:red;">0.09643455</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide232.png')}} alt="slide232.png" width="400" /></td>

<td><br />
<p>les30: 00:32:06-00:59:59</p>
<p style="color:red;">0.10008598</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide235.png')}} alt="slide235.png" width="400" /></td>

<td><br />
<p>les31: 00:20:27-00:59:59</p>
<p style="color:red;">0.07030767</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide237.png')}} alt="slide237.png" width="400" /></td>

<td><br />
<p>les32: 00:00:01-00:01:44</p>
<p style="color:red;">0.101007454</p>
</td>
<td><br />
<p>les32: 00:01:44-00:03:27</p>
<p style="color:red;">0.10102694</p>
</td>
<td><br />
<p>les32: 00:03:27-00:05:11</p>
<p style="color:red;">0.10101375</p>
</td>
<td><br />
<p>les32: 00:05:11-00:06:54</p>
<p style="color:red;">0.10101267</p>
</td>
<td><br />
<p>les32: 00:06:54-00:08:38</p>
<p style="color:red;">0.10101302</p>
</td>
<td><br />
<p>les32: 00:08:38-00:10:21</p>
<p style="color:red;">0.10102694</p>
</td>
<td><br />
<p>les32: 00:10:21-00:12:05</p>
<p style="color:red;">0.10101302</p>
</td>
<td><br />
<p>les32: 00:12:05-00:13:48</p>
<p style="color:red;">0.10102694</p>
</td>
<td><br />
<p>les32: 00:13:48-00:15:32</p>
<p style="color:red;">0.101013035</p>
</td>
<td><br />
<p>les32: 00:15:32-00:17:15</p>
<p style="color:red;">0.10102694</p>
</td>
<td><br />
<p>les32: 00:17:15-00:18:58</p>
<p style="color:red;">0.10101302</p>
</td>
<td><br />
<p>les32: 00:18:58-00:20:42</p>
<p style="color:red;">0.10102694</p>
</td>
<td><br />
<p>les32: 00:20:42-00:22:25</p>
<p style="color:red;">0.10101264</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide239.png')}} alt="slide239.png" width="400" /></td>

<td><br />
<p>les32: 00:27:36-00:29:19</p>
<p style="color:red;">0.0787858</p>
</td>
<td><br />
<p>les32: 00:29:19-00:31:03</p>
<p style="color:red;">0.07881422</p>
</td>
<td><br />
<p>les32: 00:31:03-00:32:46</p>
<p style="color:red;">0.07879267</p>
</td>
<td><br />
<p>les32: 00:32:46-00:34:29</p>
<p style="color:red;">0.078796215</p>
</td>
<td><br />
<p>les32: 00:34:29-00:36:13</p>
<p style="color:red;">0.07878589</p>
</td>
<td><br />
<p>les32: 00:36:13-00:37:56</p>
<p style="color:red;">0.07875548</p>
</td>
<td><br />
<p>les32: 00:37:56-00:39:40</p>
<p style="color:red;">0.07877828</p>
</td>
<td><br />
<p>les32: 00:39:40-00:41:23</p>
<p style="color:red;">0.07878193</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide240.png')}} alt="slide240.png" width="400" /></td>

<td><br />
<p>les32: 00:41:23-00:43:07</p>
<p style="color:red;">0.087076746</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide243.png')}} alt="slide243.png" width="400" /></td>

<td><br />
<p>les32: 00:44:50-00:46:34</p>
<p style="color:red;">0.074193366</p>
</td>
<tr>
<td><img src={{url_for('static', filename='slides/slide245.png')}} alt="slide245.png" width="400" /></td>

<td><br />
<p>les33: 00:22:18-00:23:29</p>
<p style="color:red;">0.07468175</p>
</td>
<td><br />
<p>les33: 00:23:29-00:24:39</p>
<p style="color:red;">0.074697085</p>
</td>
<td><br />
<p>les33: 00:24:39-00:25:49</p>
<p style="color:red;">0.074691355</p>
</td>
<td><br />
<p>les33: 00:25:49-00:27:00</p>
<p style="color:red;">0.07468337</p>
</td>
<td><br />
<p>les33: 00:27:00-00:28:10</p>
<p style="color:red;">0.07469212</p>
</td>
<td><br />
<p>les33: 00:28:10-00:29:21</p>
<p style="color:red;">0.07468454</p>
</td>
<td><br />
<p>les33: 00:29:21-00:30:31</p>
<p style="color:red;">0.07468866</p>
</td>
<td><br />
<p>les33: 00:30:31-00:31:41</p>
<p style="color:red;">0.074694626</p>
</td>
<td><br />
<p>les33: 00:31:41-00:32:52</p>
<p style="color:red;">0.07468421</p>
</td>
<td><br />
<p>les33: 00:32:52-00:34:02</p>
<p style="color:red;">0.07469294</p>
</td>
<td><br />
<p>les33: 00:34:02-00:59:59</p>
<p style="color:red;">0.07468002</p>
</td>
</tbody>
</table>
	</body>
</html>
